{%- assign selected_variant = product.selected_or_first_available_variant -%}

<div class="card {% if product.media.size > 0 %}card--collapsed{% endif %} {% if template.name == 'product' %}card--sticky{% endif %}">
  {%- if section.settings.enable_image_zoom -%}
    <div id="product-zoom-{{ section.id }}" class="product__zoom-wrapper"></div>
  {%- endif -%}

  <div class="card__section">
    {% comment %}
    ------------------------------------------------------------------------------
    PRODUCT META
    ------------------------------------------------------------------------------
    {% endcomment %}

    {%- if section.settings.show_share_buttons -%}
      {%- capture share_buttons -%}
        {%- assign share_url = shop.url | append: product.url -%}
        {%- assign twitter_text = product.title | url_param_escape -%}
        {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
        {%- assign pinterest_image = product.featured_media | img_url: '1024x' | prepend: 'https:' -%}

        <ul class="social-media__item-list list--unstyled">
          <li class="social-media__item social-media__item--facebook">
            <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.facebook_share' | t }}">{%- render 'icon', icon: 'facebook' -%}</a>
          </li>

          <li class="social-media__item social-media__item--pinterest">
            <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.pinterest_pin' | t }}">{%- render 'icon', icon: 'pinterest' -%}</a>
          </li>

          <li class="social-media__item social-media__item--twitter">
            <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.twitter_tweet' | t }}">{%- render 'icon', icon: 'twitter' -%}</a>
          </li>

          <li class="social-media__item">
            <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email' %}</a>
          </li>
        </ul>
      {%- endcapture -%}
    {%- endif -%}
    
    <h5 class="stock-plenty"><span>Novo | {{ product.selected_or_first_available_variant.inventory_quantity }} vendidos</span></h5>

    <div class="product-meta">
      {%- if template.name == 'product' and template != 'product.quick-view' -%}
        <h1 class="product-meta__title heading h1">{{ product.title }} <span class="verification__stamp"></span></h1>
            
      <div style="margin-top: -5px;font-size:13px;color: #b7b7b7;">
        <!--<span class="product-meta__sku-number">(Cód. Item {{ product.id | divided_by: 220022 }})</span> 
                            <span class="quantitysell" style="color: #3A2A2F;"> | </span>
        <span class="quantitysell" style="color: #0086ff;">Disponível em estoque.</span>-->

      <a href="#looxReviews">
	      <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}">
	      </div>
      </a>

      
      <!-- QUEIMA DE ESTOQUE INICIO -->

      {%- if section.settings.show_vendor or section.settings.show_sku -%}
        <div class="product-meta__reference">
          {%- if section.settings.show_vendor -%}
            {%- assign vendor_handle = product.vendor | handle -%}
            {%- assign collection_for_vendor = collections[vendor_handle] -%}

            {%- unless collection_for_vendor.empty? -%}
           
          <span class="quantitysell" style="color: #000; margin-right: 2px;">Desconto de </span>
         <span style="color:#0A1C3B; font:14px; background:#ffe000; padding:5px 10px; border-radius:3px;">QUEIMA DE ESTOQUE!</span>
 
            {%- else -%}
  <span style="color:#FFFF; font:14px; background:#0046BE; padding:5px 10px; border-radius:3px; font-weight: bold;">QUEIMA DE ESTOQUE!</span>
            {%- endunless -%}
          {%- endif -%}

          {%- if section.settings.show_vendor -%}
            {%- assign vendor_handle = product.vendor | handle -%}
            {%- assign collection_for_vendor = collections[vendor_handle] -%}

            {%- unless collection_for_vendor.empty? -%}
           
          <span class="quantitysell" style="color: #000; margin-right: 2px;">Desconto de </span>
         <span style="color:#0A1C3B; font:14px; background:#ffe000; padding:5px 10px; border-radius:3px;">BLACK FRIDAY!🔥</span>
 
            {%- else -%}
  <span style="color:#0A1C3B; font:14px; background:#ffe000; padding:5px 10px; border-radius:3px; font-weight: bold;">BLACK FRIDAY!🔥</span>
            {%- endunless -%}
          {%- endif -%}
          
<!--<br>
                    <span class="quantitysell" style="color: #000; margin-right: 2px;">Desconto de </span>
          <span style="color:#e7b300; font:14px Poppins, sans-serif; background:#000; padding:4px 10px; border-radius:3px;">BLACK FRIDAY!⚡</span>-->

          {%- if section.settings.show_sku -%}
         
          <!--{% if selected_variant.barcode != blank %}
            <span style="font-style: italic" class="product-meta__sku">
              (Cód. Item <span class="product-meta__sku-number">{{ selected_variant.barcode }})</span>
            </span>
          {% endif %}-->
          
         <!-- <span style="font-style: italic;margin-left: 5px" class="product-meta__sku">
              (Cód. Item <span class="product-meta__sku-number" style="font-style: italic;">{{ product.id | divided_by: 220022 }})</span>
            </span>-->
                    
          {%- endif -%}
        </div>
      {%- endif -%}

      <!-- QUEIMA DE ESTOQUE FINAL -->

        
      </div>

      <hr class="card__separator">
      
      {%- else -%}
        <h3 class="product-meta__title heading h2">
          <a href="{{ product.url }}">{{ product.title }}</a>
        </h3>
      {%- endif -%}
            
      {%- capture product_labels -%}
        {%- for tag in product.tags -%}
          {%- if tag contains '__label:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label1:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label1:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label2:' -%}
            <span class="product-label product-label--custom2">{{ tag | split: '__label2:' | last }}</span>
          {%- endif -%}
        {%- endfor -%}

        {%- if settings.show_discount -%}
          {%- assign savings = 0 -%}

          {%- if settings.discount_mode == 'percentage' -%}
            {%- assign savings = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round | append: '%' -%}
          {%- else -%}
            {%- capture savings -%}<span>{{ selected_variant.compare_at_price | minus: selected_variant.price | money_without_trailing_zeros }}</span>{%- endcapture -%}
          {%- endif -%}

          <span class="product-label product-label--on-sale" {% unless selected_variant.price < selected_variant.compare_at_price %}style="display: none"{% endunless %}>{{ 'collection.product.discount_html' | t: savings: savings }}</span>
        {%- endif -%}
      {%- endcapture -%}


      {%- if section.settings.show_vendor or section.settings.show_sku -%}
        <div style="margin-bottom: 15px; margin-top: 4px" class="product-meta__reference">
          <span style="color:#000; font:14px; background:#ffff; padding:4px 10px; border-radius:3px;font-weight: 800;">Disponível em estoque</span>
        </div>
    {%- endif -%}    

      {%- if section.settings.show_reviews_badge -%}
        <a href="{% if template.name != 'product' or template == 'product.quick-view' %}{{ product.url | within: collection }}{% endif %}#product-reviews" class="product-meta__reviews-badge link" data-offset="30">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            {%- comment -%}Display a placeholder, to allocate space{%- endcomment -%}
            <div class="spr-badge" style="opacity: 0">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>

              <span class="spr-badge-caption">filler</span>
            </div>
          </span>
        </a>
      {%- endif -%}

      {%- if section.settings.show_share_buttons -%}
        <div class="product-meta__share-buttons hidden-phone">
          {{ share_buttons }}
        </div>
      {%- endif -%}
    </div>

    {%- if request.page_type == 'index' and section.settings.show_description and product.description != blank and section.settings.description_below_add_to_cart == false -%}
      <div class="product-meta__description rte">
        {{ product.description | remove: 'data-section-type="product"' }}
      </div>
    {%- endif -%}

    {% comment %}
    ------------------------------------------------------------------------------
    PRODUCT FORM
    ------------------------------------------------------------------------------
    {% endcomment %}

    {%- assign color_label = 'color,colour,couleur,cor,cores,colore,farbe,색,色,カラー,färg,farve,opção' | split: ',' -%}
  
  
    {%- assign umaunidade = false -%}
    {%- assign duasunidades = false -%}
    {%- assign tresunidades = false -%}
    
    {%- assign opcao = -1 -%}
	
    {%- for option in product.options -%}
    	{% assign opcao = opcao | plus: 1 %}
    	{%- if option == 'Quantidade' -%}
    		{%- break -%}
    	{%- endif -%}
    {%- endfor -%}

    {% for variant in product.variants %}
    	
    	{%- if umaunidade == false or duasunidades == false or tresunidades == false -%}
    
            {%- if variant.options[opcao] == '1 unidade' and umaunidade != true -%}
    
    			{%- assign preco1_min = variant.price -%}
    			
    			{%- assign umaunidade = true -%}

            {%- elsif variant.options[opcao] == '2 unidades' and duasunidades != true -%}
    
    			{%- assign preco2_puro_min = variant.price | divided_by: 100.00 -%}
    
    			{%- assign preco2_puro_max = variant.compare_at_price | divided_by: 100.00 -%}
    
    			{%- assign preco2_max = variant.compare_at_price -%}
    
    			{%- assign preco2_min = variant.price -%}
    
    			{%- assign duasunidades = true -%}

            {%- elsif variant.options[opcao] == '3 unidades' and tresunidades != true -%}
    
    			{%- assign preco3_puro_min = variant.price | divided_by: 100.00 -%}
    
    			{%- assign preco3_puro_max = variant.compare_at_price | divided_by: 100.00 -%}
    
    			{%- assign preco3_max = variant.compare_at_price -%}
    
    			{%- assign preco3_min = variant.price -%}
    
    			{%- assign tresunidades = true -%}

            {%- endif -%}
    
    	{%- else -%}
    	
    		{%- break -%}
    	
    	{%- endif -%}
    
    {% endfor %}
    
    
    {%- if umaunidade and duasunidades and tresunidades -%}

    {%- form 'product', product, class: 'product-form' -%}
      {%- unless product.has_only_default_variant -%}
        <div class="product-form__variants">
          {%- for option in product.options_with_values -%}
            {%- assign downcase_option = option.name | downcase -%}
            {%- capture option_name -%}{{ section.id }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}

            {%- assign option_selector_type = 'select' -%}

            {%- if section.settings.color_mode != 'block' and section.settings.color_mode != 'dropdown' and color_label contains downcase_option -%}
              {%- comment -%}NOTE: even if the merchant is using the mode to display variant images, if ALL variant do not have an associated image, we fallback to color{%- endcomment -%}

              {%- assign has_image_attached_to_all_variants = true -%}

              {%- for variant in product.variants -%}
                {%- unless variant.image -%}
                  {%- assign has_image_attached_to_all_variants = false -%}
                  {%- break -%}
                {%- endunless -%}
              {%- endfor -%}

              {%- if section.settings.color_mode == 'color' or has_image_attached_to_all_variants == false -%}
                {%- assign option_selector_type = 'color' -%}
              {%- else -%}
                {%- assign option_selector_type = 'variant' -%}
              {%- endif -%}
            {%- else -%}
              {%- if color_label contains downcase_option -%}
                {%- if section.settings.color_mode == 'block' -%}
                  {%- assign option_selector_type = 'block' -%}
                {%- endif -%}
              {%- elsif section.settings.selector_mode == 'block' -%}
                {%- assign option_selector_type = 'block' -%}
              {%- endif -%}
            {%- endif -%}

            <div class="{%- if option.name == 'Quantidade' -%}product-form__option hidden{%- else -%}product-form__option{%- endif -%}" data-selector-type="{{ option_selector_type }}">
              {%- case option_selector_type -%}
                {%- when 'color' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="color-swatch-list color-swatch-list--large">
                    {%- for value in option.values -%}
                      {%- assign downcased_value = value | downcase -%}
                      {%- capture color_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- assign color_swatch_name = value | handle | append: '.png' -%}
                      {%- assign color_swatch_image = images[color_swatch_name] -%}

                      <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
                        <input class="color-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}" aria-hidden="true">
                        <label class="color-swatch__item lazyload" for="{{ color_id }}" {% if color_swatch_image != blank %}data-bg="{{ color_swatch_image | img_url: '64x64' }}"{% else %}style="background-color: {{ value | replace: ' ', '' | downcase }}"{% endif %} title="{{ value | escape }}">{% render 'icon', icon: 'cross-sold-out' %}</label>
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'variant' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="variant-swatch-list">
                    {%- capture option_name -%}option{{ option.position }}{%- endcapture -%}

                    {%- for value in option.values -%}
                      {%- capture variant_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- for variant in product.variants -%}
                        {%- if variant[option_name] == value and variant.image -%}
                          <div class="variant-swatch">
                            <input class="variant-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ variant_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}">

                            <label class="variant-swatch__item" for="{{ variant_swatch_id }}" title="{{ value | escape }}">
                              <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: variant.image.aspect_ratio }}%">
                                <img src="{{ variant.image | img_url: '120x' }}" alt="{{ variant.image.alt | escape }}">
                              </div>

                              {% render 'icon', icon: 'cross-sold-out' %}
                            </label>
                          </div>

                          {%- break -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endfor -%}
                  </div>
                {%- when 'block' -%}
                  <span class="product-form__option-name text--strong" style="display:none !important;">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="block-swatch-list">
                    {%- for value in option.values -%}
                      {%- capture block_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      <div class="block-swatch" style="display:none !important;">
                        <input class="block-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ block_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}" aria-hidden="true"><!--thi@gohsil@-->
                        <label class="block-swatch__item" for="{{ block_swatch_id }}" title="{{ value | escape }}">
                          <span class="block-swatch__item-text">{{ value }}</span>
                        </label>
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'select' -%}
                  <label for="{{ option_name }}" class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></label>

                  <div class="select-wrapper select-wrapper--primary">
                    {%- render 'icon', icon: 'arrow-bottom' -%}

                    <select class="product-form__single-selector" name="{{ option_name }}" id="{{ option_name }}" data-option-position="{{ option.position }}">
                      {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if value == option.selected_value %}selected="selected"{% endif %}>{{ value }}</option>
                      {%- endfor -%}
                    </select>
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}

          <div class="no-js product-form__option">
            <label for="product-select-{{ product.id }}">{{ 'product.form.variant' | t }}</label>

            <div class="select-wrapper select-wrapper--primary">
              <select id="product-select-{{ product.id }}" name="id">
                {%- for variant in product.variants -%}
                  <option {% if variant == selected_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {%- endfor -%}
              </select>
            </div>
          </div>
        </div>
      {%- else -%}
        <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
      {%- endunless -%}

      <div class="product-form__info-list">
        <div class="product-form__info-item">
          <span class="product-form__info-title text--strong">{{ 'product.form.price' | t }}:</span>

          <div class="product-form__info-content">
            <div class="price-list">
 {%- if selected_variant.compare_at_price > selected_variant.price -%}
              <span class="price price--compare">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                  {{- selected_variant.compare_at_price | money_without_trailing_zeros -}}
                </span>  
              <br>
              <span class="price price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                  {{- selected_variant.price | money_without_trailing_zeros -}}
                </span>
				{%- assign savings = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round | append: '%' -%}
				<div class="discount__percentage" style="display:none !important;">
              		{{ savings }} OFF
              	</div>
              
              {%- else -%}
                <span class="price">{{ selected_variant.price | money_without_trailing_zeros }}</span>
           {%- endif -%}
              
          <!-- JUROS -->
              
            <p style="color: #black; margin: 5px 0px 0px 0px;">em até 12x de <span style="font-size:15px; color: var(--product-on-sale-accent);"><b>{{- selected_variant.price | divided_by: 12 | times: 1.2375 | money -}}</b></span></p>
              
            {%- if selected_variant.compare_at_price > selected_variant.price -%}
              <div class="product-meta__label-list">
            <span style="margin-top: 0px; font-size: 14px" class="product-label product-label--on-sale">
              Economize&nbsp; {{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}
                </span></div>{%- endif -%}</div>
            
            <div class="product-form__price-info" style="display: {% if selected_variant.unit_price_measurement %}block{% else %}none{% endif %}">
              <div class="unit-price-measurement">
                <span class="unit-price-measurement__price">{{ selected_variant.unit_price | money_without_trailing_zeros }}</span>
                <span class="unit-price-measurement__separator">/ </span>

                {%- if selected_variant.unit_price_measurement.reference_value != 1 -%}
                  <span class="unit-price-measurement__reference-value">{{ selected_variant.unit_price_measurement.reference_value }}</span>
                {%- endif -%}

                <span class="unit-price-measurement__reference-unit">{{ selected_variant.unit_price_measurement.reference_unit }}</span>
              </div>
            </div>

            {%- if section.settings.show_taxes_included -%}
              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <p class="product-form__price-info">
                  {%- if shop.taxes_included -%}
                    {{ 'product.general.include_taxes' | t }}
                  {%- endif -%}

                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>

        {%- if section.settings.show_inventory_quantity and product.template_suffix != 'pre-order' -%}
          <div class="product-form__info-item">
            <span class="product-form__info-title text--strong">{{ 'product.form.inventory' | t }}:</span>

            <div class="product-form__info-content">
              {%- if selected_variant.available -%}
                {%- if selected_variant.inventory_management and selected_variant.inventory_policy == 'deny' and section.settings.low_inventory_threshold > 0 -%}
                  {%- if selected_variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                    <span class="product-form__inventory inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                  {%- endif -%}
                {%- else -%}
                  {%- if selected_variant.inventory_policy == 'continue' and selected_variant.inventory_quantity <= 0 -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.oversell_stock' | t }}</span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                  {%- endif -%}
                {%- endif -%}
              {%- else -%}
                <span class="product-form__inventory inventory">{{ 'product.form.sold_out' | t }}</span>
              {%- endif -%}

              {%- for tag in product.tags -%}
                {%- if tag contains '__stock:' -%}
                  {%- assign stock_countdown_max = tag | split: '__stock:' | last | times: 1.0 -%}
                  {%- assign stock_countdown_progress = selected_variant.inventory_quantity | divided_by: stock_countdown_max | times: 100.0 | at_least: 0 | at_most: 100 -%}

                  <span class="inventory-bar {% if stock_countdown_progress == 0 %}inventory-bar--hidden{% endif %}" data-stock-countdown-max="{{ stock_countdown_max }}">
                    <span class="inventory-bar__progress" style="width: 100%"></span>
                  </span>
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}

        {%- if product.template_suffix != 'contact' -%}
          {%- if section.settings.show_quantity_selector -%}
            <div class="product-form__info-item product-form__info-item--quantity"style="display:none !important;">
              <label for="{{ section.id }}-{{ product.id }}-quantity" class="product-form__info-title text--strong">{{ 'product.form.quantity' | t }}:</label>

              <div class="product-form__info-content">
                
                
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <div id='myform2' method='POST' action='#'>
                  <input type='button' value='-' class='qtyminus' field='quantity' />
                  <input type='text' name='quantity' value='1' class='qty' />
                  <input type='button' value='+' class='qtyplus' field='quantity' />
                </div>
                
              </div>
            </div>
          {%- else -%}
            <input type="hidden" name="quantity" value="1">
          {%- endif -%}
        {%- endif -%}

        <!--    Quantidade    -->
        
        <input type="hidden" name="quantity" value="1">
        
      </div>
  
  
  
  	        <div class="tt-swatches-container tt-swatches-container-js" style="margin-bottom: 35px;">
        <div class="tt-wrapper">
          <div class="tt-title-options" style="display: none;">Quantidade: <span class="current_option_name">1 unidade</span></div>
          <ul class="tt-options-swatch options-large">
            <li id="1_unidade" style="width: 100%;"><a style="display: flex; align-items: center; justify-content: space-around;" href="#!" onclick="alterarVariante('1 unidade')" data-value="1 unidade">
              <div class="col-1 pl-0" style="margin-left: -7px;">
                <div id="bola1" class="selector-bola" style=""></div>
              </div>
              <div class="col-4 text-left">
                <p id="n_variante" class="new-selector-nome-variante">1 unidade</p>
              </div>
              <div class="col-7 text-left pr-0" style="margin-right: 64px;">
                <p class="selector-preco-variante" style="line-height: 14px; margin: 0; margin-top: 6px;">{{ preco1_min | money }}</p>
                <p style="margin-top:5px;line-height: 14px; margin: 0; display: inline-flex; inline-size: max-content;" class="selector-texto-total">Total: {{ preco1_min | money }}</p>
              </div>
              </a></li>
            <li id="2_unidades" style="width: 100%;"><a style="display: flex; align-items: center; justify-content: space-around;" href="#!" onclick="alterarVariante('2 unidades')" data-value="2 unidades">
              <div class="col-1 pl-0">
                <div id="bola2" class="selector-bola"></div>
              </div>
              <div class="col-4 text-left">
                <p class="selector-mais-vendido" style="line-height: 14px;">MAIS VENDIDO</p>
                <p class="new-selector-nome-variante" style="line-height: 14px; margin: 0;">2 unidades</p>
              </div>
              <div class="col-7 text-left pr-0">
                <p class="selector-desconto" style="background: var(--product-on-sale-accent); color: var(--product-on-sale-color);line-height: 14px; margin: 0;"> {{ preco2_puro_max | minus: preco2_puro_min | times: 100.0 | divided_by: preco2_puro_max | round }}% OFF</p>
                <p style="margin-top: -4px; padding: 0; margin-bottom: -10px;"><span class="selector-preco-antigo">{{ preco2_max | divided_by: 2 | money }}</span><span class="selector-preco-variante">{{ preco2_min | divided_by: 2 | money }}</span></p>
                <p style="margin-top:5px;line-height: 14px; margin: 0; display: inline-flex; inline-size: max-content;"><span class="selector-texto-total">Total: </span><span class="selector-total-antigo">{{ preco2_max | money }}</span><span class="selector-total-variante">{{ product.variants[1].price | money }}</span></p>
              </div>
              </a></li>
            <li id="3_unidades" style="width: 100%;"><a style="display: flex; align-items: center; justify-content: space-around;" href="#!" onclick="alterarVariante('3 unidades')" data-value="3 unidades">
              <div class="col-1 pl-0">
                <div id="bola3" class="selector-bola"></div>
              </div>
              <div class="col-4 text-left">
                <p class="new-selector-nome-variante">3 unidades</p>
              </div>
              <div class="col-7 text-left pr-0">
                <p class="selector-desconto" style="background: var(--product-on-sale-accent); color: var(--product-on-sale-color);line-height: 14px; margin: 0;"> {{ preco3_puro_max | minus: preco3_puro_min | times: 100.0 | divided_by: preco3_puro_max | round }}% OFF</p>
                <p style="margin-top: -4px; padding: 0; margin-bottom: -10px;"><span class="selector-preco-antigo">{{ preco3_max | divided_by: 3 | money }}</span><span class="selector-preco-variante">{{ preco3_min | divided_by: 3 | money }}</span></p>
                <p style="margin-top:5px;line-height: 14px; margin: 0;display: inline-flex; inline-size: max-content;"><span class="selector-texto-total">Total: </span><span class="selector-total-antigo">{{ preco3_max | money }}</span><span class="selector-total-variante">{{ preco3_min | money }}</span></p>
              </div>
              </a></li>
          </ul>
        </div>
      </div>

      <script>

        $(document).ready(function(){
          $("#1_unidade").attr('class', 'active');
          $("#bola1").attr('style', 'background-color: var(--accent-color)');
          $( "input[value='1 unidade']" ).click();
        });

        function alterarVariante(variante){
          $( "input[value='"+variante+"']" ).click();

          if(variante == "1 unidade"){

            $("#1_unidade").attr('class', 'active');
            $("#2_unidades").attr('class', 'inactive');
            $("#3_unidades").attr('class', 'inactive');

            $("#bola1").attr('style', 'background-color: var(--accent-color)');
            $("#bola2").attr('style', '');
            $("#bola3").attr('style', '');

          } else if(variante == "2 unidades") {

            $("#1_unidade").attr('class', 'inactive');
            $("#2_unidades").attr('class', 'active');
            $("#3_unidades").attr('class', 'inactive');

            $("#bola1").attr('style', '');
            $("#bola2").attr('style', 'background-color: var(--accent-color)');
            $("#bola3").attr('style', '');

          } else {

            $("#1_unidade").attr('class', 'inactive');
            $("#2_unidades").attr('class', 'inactive');
            $("#3_unidades").attr('class', 'active');

            $("#bola1").attr('style', '');
            $("#bola2").attr('style', '');
            $("#bola3").attr('style', 'background-color: var(--accent-color)');

          }
        }
      </script>

      <style>

        .text-left {
          text-align: left!important;
        }

        ul.tt-options-swatch li a:not(.options-color) {
          padding: 11px 5px!important;
          background: #fff!important;
          border: 1px solid #dcdcdc;
          width: 100%;
          border-radius: 10px;
        }

        ul.tt-options-swatch li.active a:not(.options-color) {
          border: 2px solid var(--accent-color);
          box-shadow: 0px 2px 17px -10px var(--accent-color);
        }

        #id {
          background-color: #bc0406;
        }

        li { 
          list-style-type: none;
        }

        ul.tt-options-swatch li {
          margin: 10px 0 0;
        }

        .tt-options-swatch.options-large li a {
          min-width: 40px;
          min-height: 40px;
        }

        .new-selector-preco-velho{
          text-align: left;
          margin-top: 0px !important;
          color: #999999;
          font-size: 14px;
          text-decoration: line-through;
        }

        .new-selector-preco-novo{
          margin-top: 0px;
          /* margin-top: -5px !important; */
          font-size: 19px;
          font-weight: bold;
          color: #333333;
          text-align: left;
          margin-bottom: 5px;
        }

        .new-selector-preco-parcelado{
          margin: 0px;
          text-align: left;
          color: #3D4246;
          font-size: 12px;
          margin-top: 1px;
        }

        .new-selector-por-desconto{
          font-size: 12px;
          margin-left: 5px;
          color: #39b54a;
        }

        .new-selector-nome-variante{
          display: block;
          vertical-align: middle;
          color: var(--text-color);
          margin: 0px;
          text-align: left;
          text-transform:uppercase;
          word-break:break-word;
          font-weight:400;
        }

        .new-selector-active{
          border: 3px solid #bc0406;
        }

        .selector-preco-antigo{
          text-align: left;
          color: #999999;
          text-decoration: line-through;
          font-size: 14px;
          margin-right: 5px;
        }
        .selector-preco-variante{
          margin-top: 0px;
          font-size: 14px;
          font-weight: bold;
          color: var(--text-color);
          text-align: left;
          margin-bottom: 5px;
        }
        .selector-total-antigo{
          text-align: left;
          color: #999999;
          font-size: 14px !important;
          text-decoration: line-through;
          font-size: 17px;
          margin-right: 5px;
          margin-left: 5px;
        }
        .selector-total-variante{
          margin-top: 0px;
          font-size: 14px;
          font-weight: bold;
          color: var(--product-cor-do-preco);
          text-align: left;
          margin-bottom: 5px;
        }
        .selector-texto-total{
          font-size: 13px;
          color: #333333;
        }
        .selector-desconto{
          font-size: 12px;
          text-align:center;
          color: #39b54a;
          border-radius: 4px;
          display: inline-block;
          margin-top:0px;
          padding: 3px 8px;
        }
        .selector-mais-vendido{
          margin-top: 0px;
          margin-bottom:5px;
          text-align: center;
          font-size: 12px;
          background: var(--primary-button-background);
          color: white;
          padding: 3px 8px;

          border-radius: 5px;
          display:inline-block;
        }
        .selector-bola{
          height: 18px;
          width: 18px;
          border: 1px solid #dcdcdc;
          border-radius: 50%;
          display: inline-block;
          /* float: left; */
          /* float: left; */
          /* margin-right: 10px; */
          /* margin: auto; */
          vertical-align: middle;
          /* position: absolute; */
        }

        .jdgm-rev-widg{
          border: none;
          padding: 0px;
        } 

        .jdgm-star.jdgm--on:before{

        }

        .jdgm-rev-widg__sort-wrapper{
          display:none;
        }

        .jdgm-rev__icon{
          display:none
        }

        .jdgm-rev__rating{
          position:absolute;
          right:0;
          font-size:12px;
          color:#FEDC37;
        }

        .jdgm-rev__author{
          font-size:14px;
          text-transform: capitalize;
          font-weight: normal;
        }

        .jdgm-rev__title{
          display:none
        }

        .jdgm-form__title-fieldset{
          display:none;
        }

        .jdgm-rev__body{
          font-size:12px;
        }

        .jdgm-rev__header{
          margin-bottom:0px;
        }

        .jdgm-rev-widg__title{
          padding-bottom:0px !important;
          margin-bottom:10px;
          font-weight:bold !important;
          color:#bc0406;
        }
        .jdgm-rev-widg__summary{
          margin-left:20px
        }
        .jdgm-rev-widg__summary{
          margin-bottom:10px;
        }

        .jdgm-histogram.jdgm-temp-hidden{
          display:none;
        }

        .jdgm-widget-actions-wrapper{
          display:none;
        }

        .jdgm-rev-widg__summary-stars{
          font-size:22px;
          color:#FEDC37;
          margin-right:0px !important;

        }

        .jdgm-rev-widg__summary-text{
          font-size:12px;
          font-style: italic;
        }

        .jdgm-rev-widg[data-number-of-reviews='0'] .jdgm-rev-widg__summary-stars{
          display:block;
        }
      </style>

      
    

     <div class="product-form__payment-container">
        {%- if product.template_suffix != 'contact' -%}
          {%- if selected_variant.available -%}
            {%- if product.template_suffix == 'pre-order' -%}
              <button type="submit" style="box-shadow: 0px 2px 30px -10px var(--primary-button-background)" class="product-form__add-button button button--primary" data-action="add-to-cart">{{ 'product.form.pre_order' | t }}</button>
            {%- else -%}
              <button type="submit" style="box-shadow: 0px 2px 30px -10px var(--primary-button-background)" class="product-form__add-button button button--primary" data-action="add-to-cart">{{ 'product.form.add_to_cart' | t }}</button>
            {%- endif -%}
          {%- else -%}
            <button type="submit" class="product-form__add-button button button--disabled" disabled>{{ 'product.form.sold_out' | t }}</button>
          {%- endif -%}

          {%- if section.settings.show_payment_button -%}
            {{ form | payment_button }}
          {%- endif -%}
        {%- else -%}
          <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
        {%- endif -%}
      </div>
    {%- endform -%}     
      
  {%- else -%}
  
  
  {%- form 'product', product, class: 'product-form' -%}
      {%- unless product.has_only_default_variant -%}
        <div class="product-form__variants">
          {%- for option in product.options_with_values -%}
            {%- assign downcase_option = option.name | downcase -%}
            {%- capture option_name -%}{{ section.id }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}

            {%- assign option_selector_type = 'select' -%}

            {%- if section.settings.color_mode != 'block' and section.settings.color_mode != 'dropdown' and color_label contains downcase_option -%}
              {%- comment -%}NOTE: even if the merchant is using the mode to display variant images, if ALL variant do not have an associated image, we fallback to color{%- endcomment -%}

              {%- assign has_image_attached_to_all_variants = true -%}

              {%- for variant in product.variants -%}
                {%- unless variant.image -%}
                  {%- assign has_image_attached_to_all_variants = false -%}
                  {%- break -%}
                {%- endunless -%}
              {%- endfor -%}

              {%- if section.settings.color_mode == 'color' or has_image_attached_to_all_variants == false -%}
                {%- assign option_selector_type = 'color' -%}
              {%- else -%}
                {%- assign option_selector_type = 'variant' -%}
              {%- endif -%}
            {%- else -%}
              {%- if color_label contains downcase_option -%}
                {%- if section.settings.color_mode == 'block' -%}
                  {%- assign option_selector_type = 'block' -%}
                {%- endif -%}
              {%- elsif section.settings.selector_mode == 'block' -%}
                {%- assign option_selector_type = 'block' -%}
              {%- endif -%}
            {%- endif -%}

            <div class="product-form__option" data-selector-type="{{ option_selector_type }}">
              {%- case option_selector_type -%}
                {%- when 'color' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="color-swatch-list color-swatch-list--large">
                    {%- for value in option.values -%}
                      {%- assign downcased_value = value | downcase -%}
                      {%- capture color_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- assign color_swatch_name = value | handle | append: '.png' -%}
                      {%- assign color_swatch_image = images[color_swatch_name] -%}

                      <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
                        <input class="color-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}" aria-hidden="true">
                        <label class="color-swatch__item lazyload" for="{{ color_id }}" {% if color_swatch_image != blank %}data-bg="{{ color_swatch_image | img_url: '64x64' }}"{% else %}style="background-color: {{ value | replace: ' ', '' | downcase }}"{% endif %} title="{{ value | escape }}">{% render 'icon', icon: 'cross-sold-out' %}</label>
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'variant' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="variant-swatch-list">
                    {%- capture option_name -%}option{{ option.position }}{%- endcapture -%}

                    {%- for value in option.values -%}
                      {%- capture variant_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- for variant in product.variants -%}
                        {%- if variant[option_name] == value and variant.image -%}
                          <div class="variant-swatch">
                            <input class="variant-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ variant_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}">

                            <label class="variant-swatch__item" for="{{ variant_swatch_id }}" title="{{ value | escape }}">
                              <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: variant.image.aspect_ratio }}%">
                                <img src="{{ variant.image | img_url: '120x' }}" alt="{{ variant.image.alt | escape }}">
                              </div>

                              {% render 'icon', icon: 'cross-sold-out' %}
                            </label>
                          </div>

                          {%- break -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endfor -%}
                  </div>
                {%- when 'block' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="block-swatch-list">
                    {%- for value in option.values -%}
                      {%- capture block_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      <div class="block-swatch">
                        <input class="block-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ block_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}" aria-hidden="true"><!--thi@gohsil@-->
                        <label class="block-swatch__item" for="{{ block_swatch_id }}" title="{{ value | escape }}">
                          <span class="block-swatch__item-text">{{ value }}</span>
                        </label>
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'select' -%}
                  <label for="{{ option_name }}" class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></label>

                  <div class="select-wrapper select-wrapper--primary">
                    {%- render 'icon', icon: 'arrow-bottom' -%}

                    <select class="product-form__single-selector" name="{{ option_name }}" id="{{ option_name }}" data-option-position="{{ option.position }}">
                      {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if value == option.selected_value %}selected="selected"{% endif %}>{{ value }}</option>
                      {%- endfor -%}
                    </select>
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}

          <div class="no-js product-form__option">
            <label for="product-select-{{ product.id }}">{{ 'product.form.variant' | t }}</label>

            <div class="select-wrapper select-wrapper--primary">
              <select id="product-select-{{ product.id }}" name="id">
                {%- for variant in product.variants -%}
                  <option {% if variant == selected_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {%- endfor -%}
              </select>
            </div>
          </div>
        </div>
      {%- else -%}
        <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
      {%- endunless -%}

      <div class="product-form__info-list">
        <div class="product-form__info-item">
          <span class="product-form__info-title text--strong">{{ 'product.form.price' | t }}:</span>

            <div class="product-form__info-content">
              <div class="price-list">
                <span style="margin-left: 25px;" class="price price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                  {{- selected_variant.price | money_without_trailing_zeros -}}
                </span>
                {%- if selected_variant.compare_at_price > selected_variant.price -%}
                <span class="price price--compare">
                    <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                {{- selected_variant.compare_at_price | money_without_trailing_zeros -}}
                </span>  
                <br>
              
				        {%- assign savings = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round | append: '%' -%}
				        <div class="discount__percentage"style="display:none !important;">
              	{{ savings }} OFF
                </div>
              
                {%- else -%}
                  <!--<span class="price">{{ selected_variant.price | money_without_trailing_zeros }}</span>-->
            {%- endif -%} 
              
           <!-- JUROS -->
              
              <p style="color: #black; margin: 5px 0px 0px 0px; margin-left: 25px;"><b>em até 12x</b> de <span style="font-size:15px; color: #black;"><b>{{- selected_variant.price | divided_by: 12 | times: 1.2375 | money -}}</b></span></p>
              
            {%- if selected_variant.compare_at_price > selected_variant.price -%}
              <div class="product-meta__label-list">
            <span style="margin-top: 0px; font-size: 14px; margin-left: 25px;" class="product-label product-label--on-sale">
              Economize&nbsp; {{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}
                </span></div>{%- endif -%}</div>
            
            <div class="product-form__price-info" style="display: {% if selected_variant.unit_price_measurement %}block{% else %}none{% endif %}">
              <div class="unit-price-measurement">
                <span class="unit-price-measurement__price">{{ selected_variant.unit_price | money_without_trailing_zeros }}</span>
                <span class="unit-price-measurement__separator">/ </span>

                {%- if selected_variant.unit_price_measurement.reference_value != 1 -%}
                  <span class="unit-price-measurement__reference-value">{{ selected_variant.unit_price_measurement.reference_value }}</span>
                {%- endif -%}

                <span class="unit-price-measurement__reference-unit">{{ selected_variant.unit_price_measurement.reference_unit }}</span>
              </div>
            </div>

            {%- if section.settings.show_taxes_included -%}
              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <p class="product-form__price-info">
                  {%- if shop.taxes_included -%}
                    {{ 'product.general.include_taxes' | t }}
                  {%- endif -%}

                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>

        {%- if section.settings.show_inventory_quantity and product.template_suffix != 'pre-order' -%}
          <div class="product-form__info-item">
            <span class="product-form__info-title text--strong">{{ 'product.form.inventory' | t }}:</span>

            <div class="product-form__info-content">
              {%- if selected_variant.available -%}
                {%- if selected_variant.inventory_management and selected_variant.inventory_policy == 'deny' and section.settings.low_inventory_threshold > 0 -%}
                  {%- if selected_variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                    <span class="product-form__inventory inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                  {%- endif -%}
                {%- else -%}
                  {%- if selected_variant.inventory_policy == 'continue' and selected_variant.inventory_quantity <= 0 -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.oversell_stock' | t }}</span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                  {%- endif -%}
                {%- endif -%}
              {%- else -%}
                <span class="product-form__inventory inventory">{{ 'product.form.sold_out' | t }}</span>
              {%- endif -%}

              {%- for tag in product.tags -%}
                {%- if tag contains '__stock:' -%}
                  {%- assign stock_countdown_max = tag | split: '__stock:' | last | times: 1.0 -%}
                  {%- assign stock_countdown_progress = selected_variant.inventory_quantity | divided_by: stock_countdown_max | times: 100.0 | at_least: 0 | at_most: 100 -%}

                  <span class="inventory-bar {% if stock_countdown_progress == 0 %}inventory-bar--hidden{% endif %}" data-stock-countdown-max="{{ stock_countdown_max }}">
                    <span class="inventory-bar__progress" style="width: 100%"></span>
                  </span>
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}

        {%- if product.template_suffix != 'contact' -%}
          {%- if section.settings.show_quantity_selector -%}
            <div class="product-form__info-item product-form__info-item--quantity" style="margin-top: 10px">
              <label for="{{ section.id }}-{{ product.id }}-quantity" class="product-form__info-title text--strong">{{ 'product.form.quantity' | t }}:</label>

              <div class="product-form__info-content">
                
                
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <div id='myform2' method='POST' action='#'>
                  <input type='button' value='-' class='qtyminus' field='quantity' />
                  <input type='text' name='quantity' value='1' class='qty' />
                  <input type='button' value='+' class='qtyplus' field='quantity' />
                </div>
                
              </div>
            </div>
          {%- else -%}
            <input type="hidden" name="quantity" value="1">
          {%- endif -%}
        {%- endif -%}
      </div>
      
      <div id="loader" class="loader"></div>
      <div class="product-form__payment-container">
        {%- if product.template_suffix != 'contact' -%}
          {%- if selected_variant.available -%}
            {%- if product.template_suffix == 'pre-order' -%}
              <button type="submit" style="box-shadow: 0px 2px 30px -10px var(--primary-button-background)" class="product-form__add-button button button--primary" data-action="add-to-cart">{{ 'product.form.pre_order' | t }}</button>
            {%- else -%}
              <button type="submit" style="box-shadow: 0px 2px 30px -10px var(--primary-button-background)" class="product-form__add-button button button--primary" data-action="add-to-cart">{{ 'product.form.add_to_cart' | t }}</button>
            {%- endif -%}
          {%- else -%}
            <button type="submit" class="product-form__add-button button button--disabled" disabled>{{ 'product.form.sold_out' | t }}</button>
          {%- endif -%}

          {%- if section.settings.show_payment_button -%}
            {{ form | payment_button }}
          {%- endif -%}
        {%- else -%}
          <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
        {%- endif -%}
      </div>

      <!-- INICIO CODIGO PERSONALIZADO - ICONES NO RODAPÉ --> 
      <div>
        <div class="payment-list" style="margin-top: 25px !important;">
        
        <!-- ICONE Mastercard --> 
        <svg class="payment-list__item" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
        <!-- FIM ICONE Mastercard --> 
        
        <!-- ICONE Visa --> 
        <svg class="payment-list__item" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
        <!-- FIM ICONE Visa --> 

        <!-- ICONE Diners --> 
        <svg class="payment-list__item" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-diners_club"><title id="pi-diners_club">Diners Club</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M12 12v3.7c0 .3-.2.3-.5.2-1.9-.8-3-3.3-2.3-5.4.4-1.1 1.2-2 2.3-2.4.4-.2.5-.1.5.2V12zm2 0V8.3c0-.3 0-.3.3-.2 2.1.8 3.2 3.3 2.4 5.4-.4 1.1-1.2 2-2.3 2.4-.4.2-.4.1-.4-.2V12zm7.2-7H13c3.8 0 6.8 3.1 6.8 7s-3 7-6.8 7h8.2c3.8 0 6.8-3.1 6.8-7s-3-7-6.8-7z" fill="#3086C8"></path></svg>
        <!-- FIM ICONE Diners --> 
        
        <!-- ICONE Hipercard --> 
        <svg class="payment-list__item" role="img" aria-labelledby="pi-hypercard" viewBox="0 0 38 24" width="38" height="24" xmlns="http://www.w3.org/2000/svg"><title id="pi-hypercard">Hypercard</title><g fill="none" fill-rule="evenodd"><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" fill-rule="nonzero" opacity=".07"></path><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF" fill-rule="nonzero"></path><path d="M11.9 5.1H8.6c-1.4.1-2.6.6-2.9 1.8-.2.6-.3 1.3-.4 2-.7 3.3-1.3 6.7-2 9.9h25.4c2 0 3.3-.4 3.7-2 .2-.7.3-1.5.5-2.3.6-3.1 1.3-6.2 1.9-9.4H11.9z" fill="#B3131B" fill-rule="nonzero"></path><path d="M6.38 9.31h.605v1.827h2.3V9.31h.605v4.421h-.605v-2.067h-2.3v2.067h-.604v-4.42zm4.364 1.213h.551v3.208h-.55v-3.208zm0-1.213h.551v.614h-.55V9.31zm3.36 3.74c.168-.212.252-.528.252-.95 0-.257-.037-.477-.111-.662-.14-.355-.398-.533-.77-.533-.376 0-.633.188-.771.563a2.23 2.23 0 00-.112.765c0 .248.037.46.112.635.14.333.397.5.77.5a.773.773 0 00.63-.318zm-2.032-2.527h.526v.428c.109-.147.227-.26.355-.34.183-.12.398-.181.644-.181.366 0 .676.14.93.42.255.28.383.68.383 1.2 0 .701-.184 1.203-.551 1.504a1.25 1.25 0 01-.813.286c-.242 0-.446-.053-.61-.16a1.408 1.408 0 01-.323-.31v1.646h-.541v-4.493zm5.477.074c.215.107.378.246.49.417.109.162.181.352.217.569.032.148.048.385.048.71h-2.362c.01.327.087.59.232.787.144.197.368.296.67.296.284 0 .51-.093.678-.28a.944.944 0 00.205-.376h.532c-.014.119-.06.25-.14.396a1.432 1.432 0 01-.266.357c-.165.16-.368.268-.61.325a1.873 1.873 0 01-.443.048c-.402 0-.742-.146-1.02-.438-.28-.292-.419-.7-.419-1.227 0-.517.14-.938.421-1.26.281-.324.648-.485 1.102-.485.229 0 .45.054.665.16zm.199 1.265a1.403 1.403 0 00-.154-.562c-.148-.261-.396-.392-.743-.392a.824.824 0 00-.626.27c-.169.18-.258.408-.268.684h1.79zm1.237-1.354h.514v.557c.042-.108.146-.24.31-.396a.804.804 0 01.62-.23l.124.012v.572a.81.81 0 00-.178-.015c-.273 0-.482.088-.629.263a.92.92 0 00-.22.607v1.853h-.541v-3.223zm4.166.172c.228.176.365.48.411.912h-.526a.972.972 0 00-.22-.495c-.115-.132-.298-.198-.55-.198-.346 0-.593.169-.741.506-.097.219-.145.489-.145.81 0 .323.068.594.205.815.136.22.351.331.644.331.225 0 .403-.068.534-.206.132-.137.222-.325.273-.564h.526c-.06.427-.21.74-.451.937-.241.198-.549.297-.924.297-.422 0-.758-.154-1.008-.462-.251-.308-.377-.693-.377-1.154 0-.566.138-1.007.413-1.322a1.332 1.332 0 011.05-.472c.363 0 .659.088.886.265zm1.54 2.564c.114.09.25.135.406.135.19 0 .375-.044.554-.132a.745.745 0 00.451-.72v-.436a.927.927 0 01-.256.106 2.18 2.18 0 01-.307.06l-.328.042a1.255 1.255 0 00-.442.123c-.167.095-.25.245-.25.452 0 .156.057.28.172.37zm1.14-1.466c.125-.016.208-.068.25-.156a.476.476 0 00.036-.208c0-.185-.065-.318-.197-.402-.131-.083-.32-.125-.564-.125-.283 0-.484.077-.602.23a.752.752 0 00-.13.375h-.505c.01-.397.139-.673.387-.829a1.59 1.59 0 01.862-.233c.38 0 .687.072.924.217.235.144.352.369.352.674v1.857c0 .056.012.101.035.135.023.034.071.051.146.051a.824.824 0 00.177-.018v.4c-.084.025-.148.04-.192.046a1.408 1.408 0 01-.181.009c-.187 0-.322-.067-.406-.199a.767.767 0 01-.094-.298c-.11.145-.269.27-.475.376a1.47 1.47 0 01-.683.16c-.3 0-.544-.091-.733-.273a.905.905 0 01-.285-.681c0-.3.094-.531.28-.695.187-.165.432-.266.735-.304l.863-.109zm1.716-1.27h.514v.557c.043-.108.146-.24.31-.396a.804.804 0 01.62-.23l.124.012v.572a.81.81 0 00-.178-.015c-.273 0-.482.088-.629.263a.92.92 0 00-.22.607v1.853h-.541v-3.223zm2.6 2.516c.147.233.381.35.704.35a.745.745 0 00.619-.324c.161-.216.242-.525.242-.929 0-.407-.083-.708-.25-.904a.78.78 0 00-.617-.294.814.814 0 00-.663.313c-.17.21-.255.516-.255.921 0 .345.074.634.22.867zm1.216-2.417c.096.06.206.166.328.316V9.295h.52v4.436h-.487v-.448a1.172 1.172 0 01-.448.43c-.173.089-.37.133-.593.133-.36 0-.67-.151-.933-.453-.263-.302-.394-.704-.394-1.206 0-.469.12-.876.36-1.22.239-.344.582-.516 1.027-.516.247 0 .453.052.62.156z" fill="#FFF"></path></g></svg>
        <!-- FIM ICONE Hipercard --> 
        
        <!-- ICONE Amex --> 
        <svg class="payment-list__item" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><g fill="none"><path fill="#000" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z" opacity=".07"></path><path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"></path><path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"></path></g></svg>
        <!-- FIM ICONE Amex --> 

        <!-- ICONE Elo --> 
        <svg class="payment-list__item" role="img" aria-labelledby="pi-elo" width="38" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 24"><title id="pi-elo">Elo</title><g fill-rule="nonzero" fill="none"><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"></path><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF"></path><g fill="#000"><path d="M13.3 15.5c-.6.6-1.4.9-2.3.9-.6 0-1.2-.2-1.6-.5l-1.2 1.9c.8.6 1.8.9 2.8.9 1.5 0 2.9-.6 3.9-1.6l-1.6-1.6zm-2.1-7.7c-3 0-5.5 2.4-5.5 5.4 0 1.1.3 2.2.9 3.1l9.8-4.2c-.6-2.5-2.7-4.3-5.2-4.3zm-3.3 5.8v-.4c0-1.8 1.5-3.2 3.2-3.2 1 0 1.8.5 2.4 1.1l-5.6 2.5zm11.6-8.3v10.5l1.8.8-.9 2.1-1.8-.8c-.4-.2-.7-.4-.9-.7-.2-.3-.3-.7-.3-1.3V5.3h2.1zM26 10.2c.3-.1.7-.2 1-.2 1.5 0 2.8 1.1 3.1 2.6l2.2-.4c-.5-2.5-2.7-4.4-5.3-4.4-.6 0-1.2.1-1.7.3l.7 2.1zm-2.6 7.1l1.5-1.7c-.7-.6-1.1-1.4-1.1-2.4s.4-1.8 1.1-2.4l-1.5-1.7c-1.1 1-1.8 2.5-1.8 4.1 0 1.7.7 3.1 1.8 4.1zm6.7-3.4c-.3 1.5-1.6 2.6-3.1 2.6-.4 0-.7-.1-1-.2l-.7 2.1c.5.2 1.1.3 1.7.3 2.6 0 4.8-1.9 5.3-4.4l-2.2-.4z"></path></g></g></svg>
        <!-- FIM ICONE Elo --> 
        
        <!-- ICONE Boleto --> 
        <svg class="payment-list__item" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-boleto"><title id="pi-boleto">Boleto</title><path fill="#fff" d="M35.7 23.965H2.3a2.307 2.307 0 0 1-2.3-2.3v-19.4C0 1 1.035-.035 2.3-.035h33.4c1.265 0 2.3 1.035 2.3 2.3v19.4c0 1.265-1.035 2.3-2.3 2.3z"></path><path fill="#A7A8AB" d="M35.564 23.965H2.436c-1.344 0-2.436-1.077-2.436-2.4v-19.2c0-1.323 1.092-2.4 2.436-2.4h33.128c1.344 0 2.436 1.077 2.436 2.4v19.2c0 1.323-1.092 2.4-2.436 2.4zM2.436.925c-.806 0-1.462.646-1.462 1.44v19.2c0 .794.656 1.44 1.462 1.44h33.128c.806 0 1.462-.646 1.462-1.44v-19.2c0-.794-.656-1.44-1.462-1.44H2.436z" opacity=".25"></path><path d="M8.079 4.945h.7v6.298h-.7zm-1.83 0h.7v6.298h-.7zm7.256 0h1.901v6.298h-1.901zm9.715 0h.95v6.298h-.95zm2.324 0h.95v6.298h-.95zm3.804 0h1.221v6.298h-1.221zm-1.375 0h.395v6.298h-.395zm-6.389 0h.395v6.298h-.395zm-.845 0h.395v6.298h-.395zm-2.746 0h.395v6.298h-.395zm-6.31 0h.395v6.298h-.395zm-1.163 0h.733v6.298h-.733zM6.249 19.3v-6.478H8.68c.495 0 .891.065 1.191.196.299.131.532.333.701.606.17.271.255.556.255.855 0 .276-.075.537-.225.781a1.604 1.604 0 0 1-.679.593c.392.115.694.311.903.588.211.276.317.603.317.98 0 .305-.065.587-.193.847a1.644 1.644 0 0 1-.475.603c-.189.14-.425.247-.709.32a4.328 4.328 0 0 1-1.046.109H6.248zm.86-3.755H8.51c.38 0 .653-.026.817-.075a.903.903 0 0 0 .493-.324.936.936 0 0 0 .166-.567 1.03 1.03 0 0 0-.155-.568c-.103-.164-.25-.278-.442-.338s-.52-.09-.985-.09H7.109v1.963zm0 2.995h1.614c.277 0 .472-.011.585-.032.196-.035.362-.094.495-.176a.946.946 0 0 0 .327-.362c.086-.158.128-.341.128-.547 0-.243-.062-.452-.187-.632a.978.978 0 0 0-.516-.377c-.219-.072-.535-.109-.947-.109H7.109v2.235zm4.813-1.588c0-.867.241-1.509.725-1.927.403-.347.896-.52 1.476-.52.644 0 1.172.211 1.582.633.409.421.614 1.004.614 1.748 0 .603-.09 1.077-.271 1.422a1.92 1.92 0 0 1-.792.805 2.292 2.292 0 0 1-1.132.286c-.657 0-1.188-.21-1.594-.63-.406-.421-.608-1.027-.608-1.817zm.814.002c0 .6.131 1.05.394 1.347.264.299.594.448.994.448.395 0 .724-.149.988-.449.262-.3.394-.757.394-1.371 0-.579-.133-1.018-.397-1.315a1.261 1.261 0 0 0-.985-.448c-.4 0-.73.148-.994.445-.262.297-.394.745-.394 1.344zm4.498 2.346v-6.478h.796V19.3h-.796zm5.231-1.52l.823.109c-.128.478-.368.85-.718 1.114-.35.264-.796.397-1.341.397-.685 0-1.227-.211-1.629-.633-.401-.421-.602-1.013-.602-1.775 0-.787.202-1.399.608-1.834.406-.436.932-.653 1.579-.653.626 0 1.137.213 1.534.639.397.427.596 1.027.596 1.8l-.004.211h-3.497c.03.514.175.909.437 1.182a1.3 1.3 0 0 0 .979.41c.291 0 .54-.077.745-.231.207-.154.369-.4.49-.737zm-2.606-1.276h2.615c-.035-.395-.136-.691-.3-.888a1.216 1.216 0 0 0-.983-.46c-.365 0-.671.122-.92.366-.247.244-.385.572-.412.982zm6.164 2.086l.109.703a2.951 2.951 0 0 1-.599.071c-.288 0-.511-.045-.671-.137-.158-.092-.27-.211-.335-.36s-.097-.463-.097-.941v-2.705h-.588v-.615h.588v-1.161l.796-.478v1.639h.796v.615h-.796v2.751c0 .228.014.374.042.439a.324.324 0 0 0 .136.155.53.53 0 0 0 .271.057l.347-.032zm.487-1.638c0-.867.241-1.509.725-1.927.403-.347.896-.52 1.476-.52.644 0 1.172.211 1.582.633.409.421.614 1.004.614 1.748 0 .603-.09 1.077-.271 1.422a1.92 1.92 0 0 1-.792.805 2.292 2.292 0 0 1-1.132.286c-.657 0-1.188-.21-1.594-.63-.406-.421-.608-1.027-.608-1.817zm.814.002c0 .6.131 1.05.394 1.347.264.299.594.448.994.448.395 0 .724-.149.988-.449.262-.3.394-.757.394-1.371 0-.579-.133-1.018-.397-1.315a1.261 1.261 0 0 0-.985-.448c-.4 0-.73.148-.994.445-.262.297-.394.745-.394 1.344z" fill="#221F1F"></path></svg>
        <!-- FIM ICONE Boleto --> 
        
        <!-- ICONE PIX -->     
        <svg class="payment-list__item" style="width: 48px; height: 24px; background: white;border: solid 1px #e1e3e4;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 952.77 338.7"><path d="M393.22,316.26V122a64.71,64.71,0,0,1,64.71-64.71l57.35.08A64.62,64.62,0,0,1,579.77,122v41.34a64.72,64.72,0,0,1-64.71,64.72H434" fill="none" stroke="#939598" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.26"/><path d="M595.8,57.28h24.88a26.56,26.56,0,0,1,26.56,26.56v145.1" fill="none" stroke="#939598" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.26"/><path d="M641.9,34.8,630.62,23.51a7.16,7.16,0,0,1,0-10.13L641.9,2.1a7.18,7.18,0,0,1,10.15,0l11.27,11.28a7.16,7.16,0,0,1,0,10.13L652,34.8a7.17,7.17,0,0,1-10.14,0" fill="#32bcad"/><path d="M695,57.15h24.67a47.85,47.85,0,0,1,33.84,14l57.71,57.71a19.13,19.13,0,0,0,27.07,0l57.5-57.49a47.81,47.81,0,0,1,33.83-14h20.06" fill="none" stroke="#939598" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.26"/><path d="M695,227.67h24.67a47.86,47.86,0,0,0,33.84-14l57.71-57.71a19.15,19.15,0,0,1,27.07,0l57.5,57.5a47.84,47.84,0,0,0,33.83,14h20.06" fill="none" stroke="#939598" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.26"/><path d="M246.13,264.53A46.07,46.07,0,0,1,213.35,251L166,203.62a9,9,0,0,0-12.44,0l-47.51,47.51A46.09,46.09,0,0,1,73.27,264.7H64l60,60a48,48,0,0,0,67.81,0l60.12-60.13Z" fill="#32bcad"/><path d="M73.28,97.09a46.08,46.08,0,0,1,32.78,13.57l47.51,47.52a8.81,8.81,0,0,0,12.44,0l47.34-47.34a46,46,0,0,1,32.78-13.58h5.7L191.71,37.14a47.94,47.94,0,0,0-67.81,0L64,97.09Z" fill="#32bcad"/><path d="M301.56,147l-36.33-36.33a7,7,0,0,1-2.58.52H246.13a32.62,32.62,0,0,0-22.93,9.5L175.86,168a22.74,22.74,0,0,1-32.13,0L96.21,120.51A32.62,32.62,0,0,0,73.28,111H53a7.12,7.12,0,0,1-2.44-.49L14,147a48,48,0,0,0,0,67.81l36.48,36.48a6.85,6.85,0,0,1,2.44-.49H73.28a32.63,32.63,0,0,0,22.93-9.51l47.51-47.51c8.59-8.58,23.56-8.58,32.14,0l47.34,47.33a32.62,32.62,0,0,0,22.93,9.5h16.52a6.9,6.9,0,0,1,2.58.52l36.33-36.33a47.94,47.94,0,0,0,0-67.81" fill="#32bcad"/><path d="M442.54,299.75a42.13,42.13,0,0,0-8.89,1.35v11.84a20.6,20.6,0,0,0,6.92,1.16c5.94,0,8.75-2,8.75-7.23,0-4.92-2.3-7.12-6.78-7.12m-10.89,22V298.32h1.63l.17,1a46.87,46.87,0,0,1,9.26-1.49,9.16,9.16,0,0,1,6.07,1.76c2,1.66,2.68,4.34,2.68,7.26s-1,5.94-3.8,7.53a14.59,14.59,0,0,1-6.89,1.53,24.82,24.82,0,0,1-7.12-1.09v6.89Z" fill="#939598"/><path d="M466.36,299.68c-5.93,0-8.58,1.86-8.58,7.09,0,5.05,2.61,7.33,8.58,7.33s8.55-1.84,8.55-7.06c0-5.05-2.61-7.36-8.55-7.36M474,314.1c-2,1.42-4.62,1.83-7.64,1.83s-5.73-.44-7.66-1.83c-2.17-1.53-3.06-4-3.06-7.19s.89-5.67,3.06-7.23c1.93-1.39,4.58-1.83,7.66-1.83s5.67.44,7.64,1.83c2.2,1.56,3.05,4.1,3.05,7.19s-.88,5.7-3.05,7.23" fill="#939598"/><path d="M502.1,315.45l-6.62-14.21h-.13l-6.52,14.21H487L480,298.32h2.2l5.87,14.38h.14l6.38-14.38h1.83l6.54,14.38h.14l5.73-14.38H511l-7.06,17.13Z" fill="#939598"/><path d="M523.75,299.64c-5.5,0-7.36,2.45-7.7,6h15.4c-.17-3.9-2.17-6-7.7-6m-.07,16.29c-3.29,0-5.43-.48-7.13-1.9-2-1.73-2.67-4.24-2.67-7.12s.91-5.67,3.19-7.33a11.38,11.38,0,0,1,6.68-1.73,12,12,0,0,1,6.85,1.66c2.47,1.66,2.95,4.58,2.95,7.9H516c.07,3.53,1.22,6.65,7.87,6.65a51.75,51.75,0,0,0,8.85-1v1.8a52.33,52.33,0,0,1-9,1.05" fill="#939598"/><path d="M539.3,315.45V298.32h1.62l.17,1c3.63-.92,5.33-1.49,8.52-1.49h.24v1.9h-.48c-2.68,0-4.31.37-8.07,1.35v14.35Z" fill="#939598"/><path d="M561.47,299.64c-5.49,0-7.36,2.45-7.7,6h15.4c-.17-3.9-2.17-6-7.7-6m-.07,16.29c-3.29,0-5.42-.48-7.12-1.9-2-1.73-2.68-4.24-2.68-7.12s.92-5.67,3.19-7.33a11.42,11.42,0,0,1,6.68-1.73,12,12,0,0,1,6.85,1.66c2.48,1.66,3,4.58,3,7.9H553.7c.07,3.53,1.22,6.65,7.87,6.65a51.76,51.76,0,0,0,8.86-1v1.8a52.44,52.44,0,0,1-9,1.05" fill="#939598"/><path d="M593.2,300.83a20.6,20.6,0,0,0-6.92-1.15c-5.94,0-8.75,2-8.75,7.23,0,4.95,2.31,7.12,6.78,7.12a44.06,44.06,0,0,0,8.89-1.33Zm.38,14.62-.18-1a46.06,46.06,0,0,1-9.26,1.5,9,9,0,0,1-6.07-1.77c-2-1.66-2.68-4.34-2.68-7.25,0-3.06,1-5.94,3.8-7.5a14.35,14.35,0,0,1,6.92-1.56,26.18,26.18,0,0,1,7.09,1.08V291.1h2v24.35Z" fill="#939598"/><path d="M624.55,299.75a42.13,42.13,0,0,0-8.89,1.35v11.81a20,20,0,0,0,6.92,1.19c5.94,0,8.75-2,8.75-7.23,0-4.92-2.3-7.12-6.78-7.12m5.12,14.65a14.57,14.57,0,0,1-6.88,1.53,24.35,24.35,0,0,1-7.67-1.29l-.1.81h-1.36V291.1h2v8.17a48.34,48.34,0,0,1,9.06-1.42,9.16,9.16,0,0,1,6.07,1.76c2,1.66,2.68,4.34,2.68,7.26s-1,5.94-3.8,7.53" fill="#939598"/><path d="M636.13,322v-1.86c1,.1,1.9.17,2.54.17,2.48,0,4-.72,5.36-3.53l.65-1.36-9-17.13H638l7.67,14.79h.13l7.29-14.79h2.28l-9.64,19.24c-1.76,3.49-3.66,4.64-7.16,4.64a19.48,19.48,0,0,1-2.47-.17" fill="#939598"/><path d="M683,305.68h-6.64v6H683c4.58,0,6.31-.51,6.31-3,0-2.68-2.38-3-6.35-3M681.76,296h-5.42v6.1h5.46c4.51,0,6.31-.54,6.31-3.08,0-2.72-2.28-3-6.35-3m10.32,17.88c-2.45,1.56-5.4,1.62-10.79,1.62H671.14V292.22h9.91c4.65,0,7.5.06,9.87,1.49a4.91,4.91,0,0,1,2.38,4.61c0,2.44-1,4.07-3.67,5.16v.13c3,.68,4.92,2.21,4.92,5.5a5,5,0,0,1-2.47,4.72" fill="#939598"/><path d="M714.84,308.26c-2-.17-4-.27-6.17-.27-3.49,0-4.72.71-4.72,2.31s1,2.3,3.7,2.3a34.52,34.52,0,0,0,7.19-1Zm1,7.19-.13-1a41.11,41.11,0,0,1-9.3,1.5,8.88,8.88,0,0,1-5.19-1.26,5.3,5.3,0,0,1,1-8.78c1.8-.85,4.21-.92,6.42-.92,1.79,0,4.2.1,6.2.24v-.31c0-2.68-1.76-3.56-6.58-3.56-1.86,0-4.14.1-6.31.3v-3.46c2.41-.2,5.13-.33,7.37-.33,3,0,6.07.23,8,1.59s2.34,3.33,2.34,5.87v10.14Z" fill="#939598"/><path d="M742,315.45V306c0-3.12-1.59-4.24-4.44-4.24a32.63,32.63,0,0,0-7,1.08v12.62h-4.78V298.32h3.9l.17,1.09a39.6,39.6,0,0,1,9.16-1.56,8.45,8.45,0,0,1,5.87,1.76c1.35,1.22,1.86,2.92,1.86,5.36v10.48Z" fill="#939598"/><path d="M760.26,315.93c-2.21,0-4.62-.31-6.38-1.8-2.1-1.7-2.71-4.37-2.71-7.26,0-2.71.88-5.67,3.49-7.33,2.14-1.39,4.78-1.69,7.53-1.69,2,0,3.9.13,6,.33v3.67c-1.73-.17-3.8-.3-5.46-.3-4.55,0-6.69,1.42-6.69,5.36,0,3.69,1.6,5.29,5.33,5.29a40.69,40.69,0,0,0,7.19-.88v3.52a42.64,42.64,0,0,1-8.34,1.09" fill="#939598"/><path d="M782.73,301.44c-4.55,0-6.55,1.43-6.55,5.33s2,5.56,6.55,5.56,6.48-1.39,6.48-5.29-1.93-5.6-6.48-5.6m8.21,12.69c-2.1,1.42-4.85,1.8-8.21,1.8s-6.17-.41-8.24-1.8c-2.38-1.56-3.23-4.14-3.23-7.22s.85-5.71,3.23-7.27c2.07-1.39,4.81-1.79,8.24-1.79s6.11.4,8.21,1.79c2.37,1.56,3.19,4.18,3.19,7.23s-.85,5.7-3.19,7.26" fill="#939598"/><path d="M821.74,315.93c-2.88,0-6-.48-8.34-2.41-2.78-2.31-3.63-5.87-3.63-9.7,0-3.43,1.09-7.5,4.71-9.87,2.82-1.83,6.31-2.21,9.84-2.21,2.58,0,5.23.17,8.11.41v4.17c-2.47-.2-5.53-.37-7.9-.37-6.62,0-9.43,2.51-9.43,7.87s2.61,7.9,7.49,7.9a52.84,52.84,0,0,0,10.35-1.39v4.14a58,58,0,0,1-11.2,1.46" fill="#939598"/><path d="M847,300.9c-4,0-5.5,1.43-5.81,4h11.54c-.14-2.78-1.77-4-5.73-4m-.72,15c-2.81,0-5.36-.34-7.26-1.9s-2.75-4.24-2.75-7.16c0-2.61.85-5.53,3.23-7.23,2.1-1.49,4.78-1.79,7.5-1.79,2.44,0,5.32.27,7.42,1.73,2.75,1.93,3,4.92,3,8.44H841.16c.1,2.62,1.49,4.31,6.31,4.31a61.81,61.81,0,0,0,9.13-.88v3.36a65.31,65.31,0,0,1-10.32,1.12" fill="#939598"/><path d="M878.72,315.45V306c0-3.12-1.59-4.24-4.44-4.24a32.63,32.63,0,0,0-7,1.08v12.62h-4.78V298.32h3.9l.17,1.09a39.6,39.6,0,0,1,9.16-1.56,8.45,8.45,0,0,1,5.87,1.76c1.35,1.22,1.86,2.92,1.86,5.36v10.48Z" fill="#939598"/><path d="M897.09,315.93c-2.31,0-4.41-.65-5.56-2.45a8.85,8.85,0,0,1-1.26-5.18v-6.42h-3.46v-3.56h3.46l.51-5.19H895v5.19h6.75v3.56H895v5.5a8.26,8.26,0,0,0,.47,3.26c.51,1.15,1.63,1.59,3.13,1.59a21.3,21.3,0,0,0,3.42-.34v3.43a27.57,27.57,0,0,1-4.95.61" fill="#939598"/><path d="M906.44,315.45V298.32h3.9l.17,1.09a29.76,29.76,0,0,1,8.48-1.56,5.23,5.23,0,0,1,.61,0V302c-.54,0-1.19,0-1.66,0a26.94,26.94,0,0,0-6.72.88v12.65Z" fill="#939598"/><path d="M937,308.26c-2-.17-4-.27-6.18-.27-3.49,0-4.71.71-4.71,2.31s1,2.3,3.69,2.3a34.61,34.61,0,0,0,7.2-1Zm1,7.19-.14-1a41.11,41.11,0,0,1-9.3,1.5,8.88,8.88,0,0,1-5.19-1.26,4.87,4.87,0,0,1-1.9-4.14,4.81,4.81,0,0,1,2.89-4.64c1.8-.85,4.2-.92,6.41-.92,1.8,0,4.21.1,6.21.24v-.31c0-2.68-1.77-3.56-6.58-3.56-1.87,0-4.14.1-6.31.3v-3.46c2.41-.2,5.12-.33,7.36-.33,3,0,6.07.23,8,1.59s2.34,3.33,2.34,5.87v10.14Z" fill="#939598"/><path d="M947.92,291.1h4.79v24.35h-4.79Z" fill="#939598"/></svg>
        <!-- FIM ICONE PIX --> 
                    
        </div>
      </div>
      <!-- FIM CODIGO PERSONALIZADO - ICONES NO RODAPÉ --> 

      <div class="fretefundo" style="">
        <img style="margin: -8px 5px -10px -8px" src="//cdn.shopify.com/s/files/1/0569/5225/8743/t/38/assets/correios.svg?v=103834641134300435141661956890" loading="lazy">
        <p class="ttl-frete">Entrega via Correios©
        <br><span style="color:#00bd58">Código de rastreio diponivel</span></p>
        <p class="txt-frete">Frete Grátis</p>
      </div>
        
      <div class="tempofrete" style="margin: 1px 1px 30px 1px">
        <div style="padding-bottom: 0px">
            <figure style="fill:#0046BE;float:left;margin: 2px 9px -3px 0px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <path fill-rule="nonzero" d="M10.587 14.805H7.01a2.452 2.452 0 1 1-4.452-1.937l-1.56-.003.002-1.2 3.6.008v.025h.048c1.167 0 2.143.815 2.39 1.907h3.52a2.455 2.455 0 0 1 1.836-1.844l2.423-6.352a.6.6 0 0 0-.56-.814H4.6v-1.2h9.658a1.8 1.8 0 0 1 1.697 2.4h1.677l1.409 4.225-2.027 4.787-1.701-.007a2.452 2.452 0 0 1-4.726.005zm4.751-1.205l.883.004 1.538-3.634-.991-2.975h-1.27l-1.835 4.809c.834.253 1.48.939 1.675 1.796zM7 5.79v1.2H1v-1.2h6zM4.6 8.222v1.2H2.2v-1.2h2.4zm.049 7.178a1.251 1.251 0 1 0 0-2.502 1.251 1.251 0 0 0 0 2.502zm8.3 0a1.251 1.251 0 1 0 0-2.502 1.251 1.251 0 0 0 0 2.502z"></path>
                </svg>
            </figure>
    
            <div>
                <p style="overflow: hidden; margin-top:0px; margin-bottom: 4px">
                    <span style="color:#0046BE">Frete Grátis        
                        {%- if section.settings.mostrar_frete_full -%}
                        <svg style="fill:#0046BE;margin-left: 5px; margin-bottom: -3px" width="41" height="13" viewBox="0 0 41 13" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="nonzero" d="M2.628 0h5.255L5.255 4.643h4.38L2.628 13l1.751-5.571H0L2.628 0zm11.589 9.533h-1.959l1.674-7.515H19.5l-.376 1.69h-3.61l-.25 1.172h3.519l-.376 1.69h-3.53l-.66 2.963zm9.468.136c-2.334 0-3.484-1.105-3.484-2.682 0-.124.034-.383.057-.496l1.002-4.473h1.992l-.99 4.428c-.012.057-.034.18-.034.316.011.62.49 1.217 1.457 1.217 1.048 0 1.583-.654 1.776-1.533l.991-4.428h1.981l-.99 4.462c-.41 1.825-1.412 3.189-3.758 3.189zm10.118-.136h-5.01l1.673-7.515h1.959l-1.287 5.825h3.04l-.375 1.69zm6.678 0h-5.01l1.674-7.515h1.959l-1.287 5.825h3.04l-.376 1.69z"></path>
                        </svg>
                        {%- endif -%}
                    </span>
                </p>
            </div>
    
            <div id="badges-product">
                <div class="badge">
                    <svg class="badge-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 14 15" style="fill: #0046BE;">
                        <path fill-rule="nonzero" d="M.399 3.89v-.6h.6c1.87 0 3.76-.783 5.68-2.374l.383-.317.383.317c1.92 1.59 3.81 2.374 5.68 2.374h.6v.6c0 5.633-2.165 9.242-6.473 10.679l-.19.063-.19-.063C2.564 13.132.4 9.523.4 3.89zm6.663-1.743c-1.8 1.4-3.62 2.179-5.455 2.32.135 4.725 1.947 7.648 5.455 8.898 3.508-1.25 5.32-4.173 5.455-8.898-1.835-.141-3.656-.92-5.455-2.32zm-.905 6.477l3.191-3.582.896.798-4.02 4.513-2.472-2.377.831-.865 1.574 1.513z"></path>
                    </svg>
                    <div class="badge-text">
                        <p class="text-badge">
                            <span class="highlight-text">Compra segura e garantida!</span>
                        </p>
                    </div>
                </div>
                <div class="badge">
                    <svg class="badge-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 14 12" style="fill: #0046BE;">
                        <path d="M2.474 7.2h7.225a2.7 2.7 0 1 0 0-5.4H7V.6h2.7a3.9 3.9 0 1 1 0 7.8H2.473l2.45 2.389-.839.859L.14 7.8l3.945-3.848.838.859L2.473 7.2z"></path>
                    </svg>
                    <div class="badge-text">
                        <p class="text-badge">
                            <span class="highlight-text">Devolução grátis. Você tem 7 dias.</span>
                        </p>
                    </div>
                </div>
                <div class="badge">
                    <svg
                        class="badge-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="16"
                        viewBox="0 0 12 14"
                        style="fill: #0046BE;"
                    >
                        <path
                            fill-rule="nonzero"
                            d="M5.305 10.354l-1.686 3.34-1.24-2.458H0l1.64-3.202a5.2 5.2 0 1 1 8.588.194l1.54 3.008H9.39l-1.241 2.458-1.673-3.315a5.266 5.266 0 0 1-1.171-.025zm-1.001-.237a5.201 5.201 0 0 1-1.975-1.234l-.693 1.353h1.357l.626 1.239.685-1.358zm3.192.064l.653 1.294.625-1.239h1.358l-.617-1.204a5.193 5.193 0 0 1-2.019 1.15zM6 9.2a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"
                        ></path>
                    </svg>
                    <div class="badge-text">
                        <p class="text-badge">
                            <span class="highlight-text">Mais vendido entre os produtos da coleção.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
  {%- endform -%}

  {%- endif -%}
  
    <!--<script>
      jQuery(window).load(function () {
            $(".loader").fadeOut("slow"); //retire o delay quando for copiar!
          $("#tudo_page").toggle("fast");
      });
    </script>-->
    
    <!-- INICIO MP INFOS -->

    <style>

#counter {
	
	font-size: 16px;
	color: #878787;
	background-color: #FFFFFF;
	padding: 21px 5px;
	border-radius: 5px;
	margin: 8px 0;
	width: max-content;
	
}

.visitors-conter i {	
	vertical-align: middle;	
}

.visitors-conter span {	
	padding-left: 0.3;	
}

.visitors-conter i + span {	
	padding-left: 0;	
}

.visitors-conter:hover {	
	text-decoration: none;
    color: #555;	
}
  
  #eye_live {
  
    margin: 0 8px 0 0;
   -webkit-animation: eye_live 5s infinite;
   -moz-animation: eye_live 5s infinite;
   -o-animation: eye_live 5s infinite;
    animation: eye_live 5s infinite;
    
  }
  
  @keyframes eye_live {
  0%   { opacity:1; }
  20%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes eye_live{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes eye_live{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes eye_live{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

</style>
    
    <script type="text/javascript">

      $(document).ready(function() {
         function setCounterValue() {
           var random = Math.floor(Math.random() * (60 - 45 + 5)) + 2;
           $("div#counter").html("<i class='las la-las la-eye' id='eye_live'></i>" +random + "  pessoas vendo este produto agora");
         setTimeout(function(){ setCounterValue(); }, 9000);
	}
	setCounterValue();
	setTimeout(function(){ setCounterValue(); }, 9000);

      });
</script>
    
    <style>

.mp_platinum {

    min-width: 325px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 0px solid #0000001a;
    border-radius: 10px;
    box-shadow: 0px 8px 4px -4px /*#e5e5e5*/ #fff;
    margin-top: 20px;

}

.mp_platinum li {
    list-style: none;
}

.mp_platinum p {
    margin: 5px;
}

.ui-box-component-pdp__visible--desktop {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 24px 0;
    padding: 32px 16px 24px;
}

.ui-seller-info__status-info {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
}

.ui-seller-info__status-info__icon {
    margin: 2px 10px 0 0;
    width: 20px;
    text-align: center;
}

.ui-pdp-color--GREEN.ui-pdp-icon {
    fill: #00a650;
}

.ui-pdp-seller__status-title {

    font-size: 16px;
    font-weight: 600;
    color: #00a650;
    padding: 0;
    margin: 2px 0 -12px 0 !important;

}

.ui-seller-info__status-info__subtitle {
  
    font-size: 14px;
    color: rgba(0,0,0,.55);
    margin: 5px 0 0 0 !important;
  
}

.ui-thermometer {

    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
	
}

.ui-thermometer__level {
    width: 20%;
    height: 8px;
    margin-top: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    border-left: 6px solid #fff;
}

.ui-thermometer__level--1 {
    background: #fff0f0;
}

.ui-thermometer__level--2 {
    background: #fff5e8;
}

.ui-thermometer__level--3 {
    background: #fffcda;
}

.ui-thermometer__level--4 {
    background: #f1fdd7;
}

.ui-thermometer[value="5"] .ui-thermometer__level--5 {
    height: 12px;
    margin: 0;
    background: #00d86b;
}

.ui-pdp-seller__reputation-info {
    margin-top: 16px;
}

.ui-pdp-seller__list-description {

    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin: 0;
	padding: 0;

}

.ui-pdp-seller__item-description {

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 1;
    padding: 8px 5px;
	
}

.ui-pdp-seller__sales-description {
    font-size: 24px;
    color: #000;
    line-height: 1.2;
    font-weight: 400;
    display: block;
}

.ui-pdp-seller__text-description {
    margin-top: 8px;
    line-height: 1;
}

.ui-pdp-seller__item-description:after {
    background: #ddd;
    content: "";
    height: 91%;
    position: absolute;
    right: 0;
    top: 8%;
    width: 1px;
}

.ui-pdp-seller__item-description:last-of-type:after {
    display: none;
}

.ui-pdp-seller__icon-description {
    display: inline-block;
    width: 28px;
    padding-top: 3px;
    vertical-align: top;
}

.ui-pdp-icon, .ui-pdp-icon--shipping {
    fill: rgba(0,0,0,.25);
}



</style>
    
    {%- if section.settings.mostrar_mercadopago -%}
    
    <div class="mp_platinum">

<div class="ui-seller-info">

    <div class="ui-seller-info__status-info">


        <img src="//cdn.shopify.com/s/files/1/0443/8573/0725/t/26/assets/logo_mp.svg?v=13384311390306949697">


        <div style="margin: 9px 0 0px 11px;">
            <p class="ui-seller-info__status-info__title ui-pdp-seller__status-title">MercadoLíder Platinum</p>
            <p class="ui-seller-info__status-info__subtitle">Um dos melhores sites!</p>
        </div>
    </div>
    <ul aria-hidden="true" class="ui-thermometer" value="5">
        <li class="ui-thermometer__level ui-thermometer__level--1"></li>
        <li class="ui-thermometer__level ui-thermometer__level--2"></li>
        <li class="ui-thermometer__level ui-thermometer__level--3"></li>
        <li class="ui-thermometer__level ui-thermometer__level--4"></li>
        <li class="ui-thermometer__level ui-thermometer__level--5"></li>
    </ul>
    <div class="ui-pdp-seller__reputation-info">
        <ul class="ui-pdp-seller__list-description">
            <li class="ui-pdp-seller__item-description">
              
              <strong class="ui-pdp-seller__sales-description">49357</strong>
              
                <p class="ui-pdp-seller__text-description">Pedidos entregues nos últimos 60 dias</p>
            </li>
            <li class="ui-pdp-seller__item-description">
                <strong aria-hidden="true" class="ui-pdp-seller__icon-description">
                    <svg class="ui-pdp-icon ui-pdp-icon--message-positive ui-pdp-color--REP_SELLER_ATTENTION_GOOD" viewBox="0 0 29 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill-rule="evenodd" fill="none">
                            <path d="M6.747 21.511l4.538-3.518h8.238c1.032 0 1.868-.98 1.868-2.19V3.21c0-1.21-.836-2.19-1.868-2.19H3.173c-1.032 0-1.869.98-1.869 2.19v14.077c0 .39.316.706.706.706H5.61v2.96a.706.706 0 0 0 1.138.558z" stroke-width="1.5" stroke="#333"></path>
                            <g transform="translate(14 9)">
                                <circle cx="7.5" cy="7.5" r="7.5" fill="#39B54A"></circle>
                                <g stroke-linecap="round" stroke-width="1.059" stroke="#FFF"><path d="M3.75 7.5l2.445 2.445M6.25 9.89L11.14 5"></path></g>
                            </g>
                        </g>
                    </svg>
                </strong>
                <p class="ui-pdp-seller__text-description">Presta bom atendimento</p>
            </li>
            <li class="ui-pdp-seller__item-description">
                <strong aria-hidden="true" class="ui-pdp-seller__icon-description">
                    <svg class="ui-pdp-icon ui-pdp-icon--time-positive ui-pdp-color--REP_SELLER_DELIVERY_TIME_GOOD" viewBox="0 0 30 26" xmlns="http://www.w3.org/2000/svg">
                        <g fill-rule="evenodd" fill="none">
                            <g transform="translate(1 .02)" stroke="#333">
                                <ellipse cx="10.5" cy="13.714" rx="10.5" ry="10.286" stroke-width="1.286"></ellipse>
                                <path d="M19.107 13.714h-1.59M3.42 13.714H1.83M10.5 5.143v1.59M10.563 20.571v1.59M10.5.857v2.484M8.75.857h3.637M10.313 8.801v4.944H5.24" stroke-linecap="round" stroke-width="1.102"></path>
                            </g>
                            <g transform="translate(15 10.02)">
                                <circle cx="7.5" cy="7.5" r="7.5" fill="#39B54A"></circle>
                                <g stroke-linecap="round" stroke-width="1.059" stroke="#FFF"><path d="M3.75 7.5l2.445 2.445M6.25 9.89L11.14 5"></path></g>
                            </g>
                        </g>
                    </svg>
                </strong>
                <p class="ui-pdp-seller__text-description">Entrega os produtos dentro do prazo</p>
            </li>
        </ul>
    </div>
</div>

</div>
    
    {%- endif -%}
    
    <!-- FINAL MP INFOS -->
        
    {%- if request.page_type == 'index' and section.settings.show_description and product.description != blank and section.settings.description_below_add_to_cart -%}
      <div class="product-meta__description rte">
        {{ product.description }}
      </div>
    {%- endif -%}

    {%- if section.settings.show_share_buttons -%}
      <div class="product-meta__share-buttons hidden-tablet-and-up">
        <span class="text--strong">{{ 'product.general.share' | t }}</span>
        {{ share_buttons }}
      </div>
    {%- endif -%}
  </div>

  {%- if section.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
    <style>
      #shopify-section-{{ section.id }} .shopify-payment-button {
        display: none;
      }
    </style>
  {%- endif -%}

  {% comment %}
  
  ------------------------------------------------------------------------------
  Product Data. This must be outputted for all products (including home page).

  IMPORTANT: THIS CODE IS VITAL. DO NOT EDIT IT NOT REMOVE IT. MAKE SURE TO KEEP
  THE EXACT SAME ATTRIBUTES.
  ------------------------------------------------------------------------------
  {% endcomment %}
  
    <script>
    jQuery(document).ready(function(){
    // This button will increment the value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $('input[name='+fieldName+']').val(currentVal + 1);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});

  </script>

  <script type="application/json" data-product-json>
    {
      "product": {{ product | json }},
      "options_with_values": {{ product.options_with_values | json }},
      "selected_variant_id": {{ selected_variant.id }}
      {%- if section.settings.show_inventory_quantity -%}
        ,"inventories": {
          {%- for variant in product.variants -%}
            {%- if variant.available -%}
              {%- if variant.inventory_management and variant.inventory_policy == 'deny' and section.settings.low_inventory_threshold > 0 -%}
                {%- if variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                  {%- capture inventory_message -%}{{ 'product.form.low_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- else -%}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- endif -%}
              {%- else -%}
                {%- if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 -%}
                  {%- capture inventory_message -%}{{ 'product.form.oversell_stock' | t }}{%- endcapture -%}
                {%- else %}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock' | t }}{%- endcapture -%}
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              {%- capture inventory_message -%}{{ 'product.form.sold_out' | t }}{%- endcapture -%}
            {%- endif -%}

            "{{ variant.id }}": {
              "inventory_management": {{ variant.inventory_management | json }},
              "inventory_policy": {{ variant.inventory_policy | json }},
              "inventory_quantity": {{ variant.inventory_quantity | json }},
              "inventory_message": {{ inventory_message | json }}
            }{% unless forloop.last %},{% endunless %}
          {%- endfor -%}
        }
      {%- endif -%}
    }
  </script>
</div>